<launch>
    <!-- 时间戳由 gnss_to_enu 透传 /rtk/navsatfix 的 UTC 时间；
         LiDAR/IMU 应通过硬同步使用同一时间基准。 -->
    <param name="use_sim_time" value="false" />

    <node pkg="gnss_to_enu" type="gnss_to_enu.py" name="gnss_to_enu_node" output="screen">
        <param name="sub_topic" value="/rtk/navsatfix" />
        <param name="pub_topic" value="/rtk/gps_odom" />

        <param name="use_auto_datum" value="true" />

        <param name="datum_lat" value="22.56580437" />
        <param name="datum_lon" value="113.49363833" />
        <param name="datum_alt" value="4.89360000" />

        <param name="min_T_intervel" value="1.0" />
        <param name="min_D_interval" value="1.0" />
    </node>
</launch>
